.subjectDashboard {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 3em 10em auto;
  grid-template-rows: 4em auto 20em;
  grid-template-areas:
    "subjectHeader subjectHeader subjectHeader subjectHeader"
    "resourceBar resources resourceView resourceView"
    "resourceBar resources resourceNotes resourcePrivateNotes"
}

.subjectHeader {
  grid-area: subjectHeader;
}

.subjectResourceBar {
  grid-area: resourceBar;
  background: #bf00ff;
}

.subjectResources {
  grid-area: resources;
}

.subjectResourceView {
  grid-area: resourceView;
}

.subjectResourceNotes {
  grid-area: resourceNotes;
}

.subjectResourcePrivateNotes {
  grid-area: resourcePrivateNotes;
}
